.social__login
    button.social__login__github
        span
            i.fab.fa-github
        |   Continue with Github
    button.social__login__facebook
        span
            i.fab.fa-facebook
        |   Continue with Facebook